/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
h1 {
    background-color: #ffdbaa;
    border: black;
    color: #553100;
    padding-top: 15px;
    padding-left: 25px;
    padding-bottom: 40px;
}

button {
    align-items: flex-end;
    background-color: #805215;
    color: white;
    border: none;
    height: 40px;
    width: 80px;
    
}

body {
    background-color: #D4A76A;
}

div {
    border: 1px solid black;
    background-color: white;
    width: 200px;
    align-self: center;
}

span {
    border: 1px solid black;
}
